.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}

.col,
.column{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
}

.column{
    width: 100%;
    margin: 10px 0;
}

.label{
    color: #000;
    font-family: var(--prompt);
}

.input{
    height: 50px;
    border: 0px;
    background-color: var(--whiter);
    border: 2px solid var(--lightGray);
    border-radius: 0px;
    padding: 10px;
    font-size: 17px;
    font-family: var(--prompt);
    width: 100%;
}

.textarea{
    font-family: var(--prompt);
    font-weight: 300;
    font-size: 17px;
    min-height: none;
    resize: "none";
    max-height: 350px;
    display: flex;
    align-items: center;
}

.input:focus{
    outline: 0;
    background-color: var(--white);
}

.error_input{
    background-color: var(--whiter);
}

.error{
    color: var(--red);
    font-size: 14px;
    margin-bottom: 15px;
    height: 10px;
    font-family: var(--prompt);
}

@media only screen and (max-width: 600px){
    .row{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        margin: 0;
    }

    .col{
        width: 100%;
        margin: 10px 0;
    }
}


